/*IMPORT*/
@import url('../fonts/UnimedSlab-Regular.otf');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unimed';
}
/*END IMPORT*/

/*STAR NAVBAR*/
.logo{
    color: white;
    font-size: 30px;
    font-weight: 600;
    float: right;
    margin-top: 1,5%;
}
.img-unimed{
    max-width: 100%;
    float: left;
    pointer-events: none;
    user-select: none;
}
nav{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 153, 93);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}
/*END NAVBAR*/


/*START CONTENT*/
.container-body-home{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: justify;
    line-height: 1.3;
}
#container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    font-size: 30px;

    /* 
    border-color: black;
    border-width: 1px;
    border-style: solid;
    */
}
.card-content{
    color: white;
    padding: 90px;
    background-color: rgba(1, 143, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-decoration: none!important;
    width: 160px;
    height: 160px;
    margin: 8px;
    user-select: none;
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3);
}
a{
    text-decoration: none!important;
}
.card-content:hover{
    background-color: rgba(8, 79, 71);
    color:white;
    transition-duration: 650ms;
}
.card-content:hover:after{
    background-color: black;
    animation-duration: 1s;
}
.back {
    color: white;
    background-color: #C4CBCF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-decoration: none!important;
    user-select: none;
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.3);
    float: right;
    margin-top: 96px;
    margin-right: 6%;
    width: 120px;
    height: 50px;
}
.back:hover{
    background-color: #7d8183;
    color:white;
    transition-duration: 650ms;
}
.back:hover:after{
    background-color: black;
    animation-duration: 1s;
}
/*END CONTENT*/


/*START FOOTER*/
footer{
    background-color: #e7eaec;
    margin-top: 20%;
}
footer .container-footer{
    display: flex;
    margin-right: 150px;
    margin-left: 150px;
    color: black;
}
footer .container-footer ul{
    width: 25%;
    text-align: justify;
}
footer .container-footer h3{
    margin-bottom: 16px;
    font-weight: 600;
    color: rgba(0, 153, 93);
}
footer .container-footer li{
    margin: 10px 0;
    list-style-type: none;
}
footer .container-footer a{
    color: rgba(0, 0, 0, 0.6);
    outline: none;
    text-decoration: none;
    font-size: small;
}
/*END FOOTER*/


/*START SELECTION*/
::selection{ 
    background: rgb(177,211,75); color: rgb(163,35,142);
} 
::-moz-selection{ 
    background: rgb(177,211,75); color: rgb(163,35,142); 
}
/*END SELECTION*/


/*START RESPONSIVO*/
@media only screen and (max-width: 920px) {
    .container-footer{
        flex-direction: column;
    }
}
/*END RESPONSIVO*/